name: Renovate

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: renovatebot/github-action@v44.0.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: '.github/renovate.json'
