name: Renovate

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: renovatebot/github-action@v40
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          renovate-config-file: '.github/renovate.json5'
